header {
    background-color: #B2B2B2;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}

aside {
    display: none;
}

a {
    color: #000000;
    background-color: #C4C4C4;
}

section {
    background-color: #7F7F7F;
}

h2 {
    color: #00007F;
    text-transform: uppercase;
}
