[submodule "rst-cheatsheet"]
	path = rst-cheatsheet
	url = git@github.com:ralsina/rst-cheatsheet.git
[submodule "utn/legislacion/resumen_libro"]
	path = utn/legislacion/resumen_libro
	url = git@ariel17.com.ar:legislation-summary.git
[submodule "utn/sistemas_operativos/resumen_libro"]
	path = utn/sistemas_operativos/resumen_libro
	url = git@ariel17.com.ar:operating-systems-summary.git
